@{
    ViewData["Title"] = "Shurjopay";
    var paymentDetails = ViewBag.paymentDetails;
}
<div class="text-center">
    <h1 class="display-4">Welcome Shurjopay </h1>
    <a href="/shurjopay/create">  <h1>Make Payment Request</h1>  </a>
</div>
