@{
    ViewData["Title"] = "Home Page";
    var paymentDetails = ViewBag.paymentDetails;


}

<div class="text-center">
    <h1 class="display-4">Welcome Shurjopay </h1>
    <a href ="@paymentDetails.CheckOutUrl" >  <h1>Make Payment</h1>  </a>
</div>
